<!-- This page is for a multiple selection question... -->
  <div class="question">
    <p class="instructions"><%= q[:instructions] %></p>
  </div>
  <form method="post" action="/survey/step/<%= s %>">
      <div id='workfns'>
        <% work_fns.each.with_index do |fn, i| i += 1 %>
          <p><input type='checkbox' name="fn_<%= i %>" />
          <label for="fn_<%= i %>"><%= fn[:work_function] %></label>
          </p>
        <% end %>
      </div>
      <div class="question">
        <input type="submit" value="Send selections"/>
      </div>
  </form>
  </div>
<script>
  $('form').on('submit', function (event) {
    if ($(":checkbox:checked").length !== 3) {
      alert("Please check three work functions"); 
      event.preventDefault();
    }
  });
</script>

