<!-- This page is for a ranking question... -->
<script src="/js/jquery.ui.touch-punch.min.js"></script>
<p class="instructions"><%= q[:instructions] %></p>
  <form method="post" action="/survey/step/<%= s %>">
    <div class="">
          <ul id="sortable"><% i = 1 %>
              <% work_fns.each do |fn| %>
                <li id="item_<%= i %>" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><%= fn[:work_function] %></li>
              <% i = i + 1 ; end %>
            </ul>
    </div>
    <input id="answers" type="hidden" name="arrangement" value="unset">
    <div class="question">
      <input type="submit" value="Send rankings"/>
    </div>
  </form>

<script>
	$(function() {
		$('#sortable').sortable();
    $('#sortable').disableSelection();
    $('#answers').attr('value', '[<%= (1.upto(work_fns.count)).map {|i| "item_#{i}"}.join(", ") %>]');
    $('#sortable').bind('sortupdate', function(event, ui) {
      $('#answers').attr('value', $('#sortable').sortable('toArray'));
    });
  });
</script>

